gunicorn == 20.1.0
astroid == 2.5.1
click == 7.1.2
colorama == 0.4.4
fast_autocomplete == 0.7.1
Flask == 1.1.2
inexactsearch == 1.0.2
isort == 5.7.0
itsdangerous == 1.1.0
jinja2 == 2.11.3
joblib == 1.0.1
lazy_object_proxy == 1.5.2
MarkupSafe == 1.1.1
mccabe == 0.6.1
nltk == 3.5
numpy == 1.20.1
pandas == 1.2.3
pip == 21.0.1
pylev == 1.3.0
pylint == 2.7.2
pyspellchecker == 0.6.1
python_dateutil == 2.8.1
pytz == 2021.1
rake_nltk == 1.0.4
rank_bm25 == 0.2.1
regex == 2021.3.17
setuptools == 54.1.2
slipa_common == 0.3
six == 1.15.0
soundex == 1.1.3
spellchecker == 0.4
toml == 0.10.2
tqdm == 4.59.0
typed_ast == 1.4.2
Werkzeug == 1.0.1
wheel == 0.36.2
wrapt == 1.12.1
WTForm == 2.3.3
