<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/style.css')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>

<body>
    <div name="full-container" id="full-container" style="background-color: blueviolet;">

        <h1 style="text-align:center; font-size:200%; font-family:courier;">HUFFINGTON POST NEWS</h1>
        <h6 style="text-align:center; font-size:100%; font-family:courier;">American News Database (2001-2019)</h6>

        <div class="ui-widget"
            style="margin-top: 5vh; justify-content: center; align-items:center; height:6vh; display: flex;">
            <input style="width:30%; height:6vh; font-size:14pt;" type="text" id="site-search" name="site-search">

            <button type="button" style="height:6vh; margin-left: 1vh; color:whitesmoke; background-color: darkcyan;" id="search-button">Search</button>
        </div>

        <div style="margin-top: 5vh; justify-content: center; align-items:center; height:6vh; display: flex;">

            <label for="sort-by">Sort By: </label>
            <select name="sort-by" id="sort-by">
                <option value="Relevance" selected>Relevance</option>
                <option value="Newest">Newest</option>
                <option value="Oldest">Oldest</option>
            </select>

            <div style="width: 10%;"></div>

            <label for="news-category">Categories: </label>
            <select name="news-category" id="news-category">
                <option value="ALL" selected>ALL</option>
                <option value="ARTS">ARTS</option>
                <option value="ARTS & CULTURE">ARTS & CULTURE</option>
                <option value="BUSINESS">BUSINESS</option>
                <option value="COMEDY">COMEDY</option>
                <option value="CRIME">CRIME</option>
                <option value="EDUCATION">EDUCATION</option>
                <option value="ENTERTAINMENT">ENTERTAINMENT</option>
                <option value="ENVIRONMENT">ENVIRONMENT</option>
                <option value="RELIGION">RELIGION</option>
                <option value="SCIENCE">SCIENCE</option>
                <option value="SPORTS">SPORTS</option>
                <option value="STYLE">STYLE</option>
                <option value="TRAVEL">TRAVEL</option>
                <option value="WORLD NEWS">WORLD NEWS</option>
            </select>
        </div>
    </div>

    <!-- 'ARTS' 'ARTS & CULTURE' 'BLACK VOICES' 'BUSINESS' 'COLLEGE' 'COMEDY'
 'CRIME' 'CULTURE & ARTS' 'DIVORCE' 'EDUCATION' 'ENTERTAINMENT'
 'ENVIRONMENT' 'FIFTY' 'FOOD & DRINK' 'GOOD NEWS' 'GREEN' 'HEALTHY LIVING'
 'HOME & LIVING' 'IMPACT' 'LATINO VOICES' 'MEDIA' 'MONEY' 'PARENTING'
 'PARENTS' 'POLITICS' 'QUEER VOICES' 'RELIGION' 'SCIENCE' 'SPORTS' 'STYLE'
 'STYLE & BEAUTY' 'TASTE' 'TECH' 'THE WORLDPOST' 'TRAVEL' 'WEDDINGS'
 'WEIRD NEWS' 'WELLNESS' 'WOMEN' 'WORLD NEWS' 'WORLDPOST' -->


    <!--<select name="news" id="news">
            <option value="value1">One</option>
            <option value="value2" selected>Two</option>
            <option value="value3">Three</option>
        </select>
    <button id=btn>Button</button>-->

    <div id=response style="margin-top: 2vh;"></div>

</body>

<script>

    jQuery.ajaxSetup({
        beforeSend: function () {
            $('#loader').show();
        },
        complete: function () {
            $('#loader').hide();
        },
        success: function () { }
    });

</script>

<script>

    $(document).ready(function () {
        $("#site-search").on("input", function (e) {
            text_input = $("#site-search").val();
            $.ajax({
                method: "POST",
                url: "/autocomplete",
                data: { text: text_input },
                success: function (res) {
                    $("#site-search").autocomplete({
                        source: res
                    });

                }
            })
        });
    })

</script>


<script>
    $(document).ready(function () {

        $("#search-button").click(function (e) {
            text_input = $("#site-search").val();
            sort_input = $("#sort-by").val();
            category_input = $("#news-category").val();

            $.ajax({
                method: "POST",
                url: "/process",
                data: { data: text_input, sort: sort_input, category: category_input },
                beforeSend: function () {
                    $("#response").html('<img src="./static/images/loader.gif" style="display:block; margin-left:auto; margin-right: auto; width: 10%;"/>');
                },
                success: function (res) {


                    len = res.length;

                    var output = '';

                    for (i = 0; i < len; i++) {
                        output += "<div class='card'><h1>"+res[i][0]+"</h1><div class='container'><h4><b>"+res[i][2]+"</b></h4><div style='display:flex; width:100%'><div style='text-align:left; width:50%;'><a href="+res[i][1]+">Go to the news</a></div><div style='text-align:right; width:50%;'><a>"+res[i][3]+"</a></div></div></div></div><br>";
                    }

                    $("#response").html(output);


                }
            })
        });
    })
</script>
<!--<div class="card">
    <h1>This is heading of the news</h1>
    <div class="container">
      <h4><b>description</b></h4>
      <div style="display:flex; width:100%">
          <div style="text-align:left; width:50%;">
              <a href="https://www.google.com">Go to the news</a>
          </div>
          <div style="text-align:right; width:50%;">
              <a>03-05-1991</a>
          </div>
      </div>
    </div>
  </div>   -->
</html>